<!DOCTYPE html>
<html>
<head>
  <title>Template1</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body>
<script type="text/javascript">
	window.portfolio_template = new Template.Router()
</script>
<%= yield %>

</body>
</html>
